.message {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	font-size: 16px;
	color: var(--white);
	gap: 30px;
	min-height: 100px;
}
.message p {
	flex-grow: 1;
	font-family: "Space Grotesk", sans-serif;
	white-space: pre-wrap;
}
.ai {
	background-color: #151515;
}
.isLoading {
	animation: pulse 2s ease-in-out 0s infinite normal none;
}
@keyframes pulse {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
