.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	padding: 15px 60px;
	justify-content: flex-start;
	align-items: center;
	height: 60px;
	background-color: var(--dark1);
	gap: 25px;
}
.button {
	cursor: pointer;
	transition: all 0.3s;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	border: transparent;
	background-color: transparent;
}
.send {
	position: relative;
	padding: 10px;
	border: 2px solid transparent;
}
.reset {
	color: var(--text-dark);
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(0, -50%);
}
.send:hover {
	background-color: var(--accent-blue);
	border: 2px solid var(--black);
}
.send::before {
	content: "☁";
	position: absolute;
	top: 8px;
	left: 8px;
	font-size: 26px;
	opacity: 0;
	z-index: 1;
	color: var(--white);
}
.send:hover::before {
	content: "☁";
	top: -4px;
	left: -4px;
	opacity: 1;
	filter: drop-shadow(1px 1px 4px var(--text-dark));
	animation: cloudMove 5s ease-in-out infinite;
}
.send::after {
	content: "☁";
	position: absolute;
	bottom: 8px;
	right: 8px;
	font-size: 16px;
	opacity: 0;
	z-index: 1;
	color: var(--white);
}
.send:hover::after {
	content: "☁";
	bottom: -4px;
	right: -4px;
	filter: drop-shadow(1px 1px 4px var(--text-dark));
	opacity: 1;
	animation: cloudMove 5s ease-in-out infinite;
}
.inputbar {
	position: relative;
	flex-grow: 1;
	outline: none;
}

.inputbar input {
	border-radius: 8px;
	background-color: var(--dark2);
	width: 100%;
	border: transparent;
	height: 40px;
	padding: 5px 15px;
	color: var(--white);
	font-family: "Space Grotesk", sans-serif;
	font-size: 14px;
}
.inputbar input:focus-visible {
	outline: none;
	border: 2px solid var(--accent-theme);
}
.icon {
	transform: rotate(-45deg);
	z-index: 2;
	filter: drop-shadow(1px 1px 4px var(--text-dark));
}
.button:hover .icon {
	color: var(--black);
	animation: move 5s ease-in-out infinite;
}
.loading {
	animation: jump 1s ease-in infinite;
}

@keyframes jump {
	0% {
		transform: translateY(0);
		filter: brightness(1);
	}
	50% {
		transform: translateY(-25%);
		filter: brightness(1.2);
	}
	100% {
		transform: translateY(0);
		filter: brightness(1);
	}
}

@keyframes move {
	0% {
		transform: translate(-10%, 15%) rotate(-45deg);
	}
	25% {
		transform: translate(-5%, -15%) rotate(-40deg);
	}
	50% {
		transform: translate(0%, 0%) rotate(-42deg);
	}
	75% {
		transform: translate(-5%, -15%) rotate(-40deg);
	}
	100% {
		transform: translate(-10%, 15%) rotate(-42deg);
	}
}
@keyframes cloudMove {
	0% {
		transform: translate(10%, -5%) rotate(-15deg);
	}
	25% {
		transform: translate(5%, 3%) rotate(10deg);
	}
	50% {
		transform: translate(0%, 0%) rotate(12deg);
	}
	75% {
		transform: translate(5%, 3%) rotate(10deg);
	}
	100% {
		transform: translate(10%, -5%) rotate(-15deg);
	}
}
