:root {
	--dark1: #151515;
	--dark2: #1f1f1f;
	--dark3: #1e1e1e;
	--white: #ffffff;
	--black: #000000;
	--text-dark: #333333;
	--text-light: #777777;
	--accent-yellow: #f0a202;
	--accent-theme: #f0a202;
	--accent-yellow-35: #f1870535;
	--accent-pink: #f72585;
	--accent-purple: #be03fd;
	--accent-green: #39ff14;
	--accent-blue: #00c9fc;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--dark2);
	font-family: "Space Grotesk", sans-serif;
}
h1 {
	font-family: "Bebas Neue", cursive;
	font-size: 26px;
	font-weight: 400;
	line-height: 66px;
	letter-spacing: 0.055em;
	text-align: left;
	color: var(--accent-theme);
}
p {
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0em;
	text-align: justified;
}

.bgYellowTheme {
	background-color: var(--accent-theme);
}
.bgPinkTheme {
	background-color: var(--accent-pink);
}
.bgPurpleTheme {
	background-color: var(--accent-purple);
}
.bgGreenTheme {
	background-color: var(--accent-green);
}
.brYellowTheme {
	border-color: var(--accent-theme);
}
.brPinkTheme {
	border-color: var(--accent-pink);
}
.brPurpleTheme {
	border-color: var(--accent-purple);
}
.bgGreenTheme {
	border-color: var(--accent-green);
}
.txYellowTheme {
	color: var(--accent-theme);
}
.txPinkTheme {
	color: var(--accent-pink);
}
.txPurpleTheme {
	color: var(--accent-purple);
}
.txGreenTheme {
	color: var(--accent-green);
}

.emoji {
	font-size: 24px;
}

.App {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	width: 100%;
	flex-flow: column;
}
.grayedout {
	color: var(--text-dark);
}
.chatBegins {
	display: flex;
	width: 100%;
	font-size: 14px;
	justify-content: center;
	text-transform: capitalize;
	align-items: center;
	gap: 10px;
}
.line {
	border: 1px dashed var(--text-dark);
	width: 10%;
}
.avatar {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	min-width: 60px;
	min-height: 60px;
	background-color: var(--black);
}
.user {
	box-shadow: 0px 0px 0px 2px var(--dark1), 0px 0px 0px 4px var(--accent-theme);
}
.avatarImage {
	object-fit: cover;
	max-width: 60px;
	max-height: 60px;
}

.body {
	margin-top: 60px;
	padding: 5px 60px 70px 60px;
	display: flex;
	gap: 15px;
	flex-grow: 1;
	justify-content: flex-start;
	align-items: stretch;
	flex-flow: column;
}

.messageHolder {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-flow: column;
	width: 100%;
	overflow-y: auto;
	font-family: "Space Grotesk", sans-serif;
}
